<form action="/name-form" method="post">
    <ul>
      <li>
        <% unless @name %>
          <label for="name">Enter Cat Name:</label>
          <input type='text' name='name'>
        
        <% end %>
      </li>
      <li>
        <% unless @age %>
          <label for="name">Enter Cat Age:</label>
            <input type='text' name='age'>
            <input type='submit' value='Submit'>
          </li>
        <% end %>
    </ul>

  </form>