<form action="/named-cat" method="post">
    <ul>
      <li>
        <% unless @name %>
          <label for="name">Enter Cat Name:</label>
          <input type='text' name='name'>
        
        <% end %>
      </li>
      
    </ul>

  </form>