<head></head>
<body>
  <div style="border: 5px dashed red; width: 400px">
    <img src="https://i.imgur.com/jFaSxym.png" width=400px >
  </div>
  <h1>My name is <%=@name%></h1>
  
  <form action="/name-form">
    <ul>
      <li>
        <% unless @name %>
          <label for="name">Enter Cat Name:</label>
          <input type='text' name='name'>
        
        <% end %>
      </li>
     
    </ul>

  </form>
<body>